head
    title Landing Page
    link(rel='stylesheet', href='/static/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/static/css/creative.css', type='text/css')

    link(rel='stylesheet', href='/static/css/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/static/css/bootstrap/min.css', type='text/css')
    
    
