extends ./layout.jade
block content

        header
          .header-content
            .header-content-inner
              h1 Yumm Cupcakes
              |                 
              hr
              |                 
              p
                | Jujubes macaroon cheesecake sweet roll. Muffin donut caramels chupa chups. Oat cake bonbon apple pie.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Order today!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Unleash the cupcake.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Cake apple pie donut muffin sweet roll lemon drops danish powder candy canes. Dragée powder jelly carrot cake. Cake jujubes croissant cheesecake marzipan sweet fruitcake tiramisu.

                |                     
                a.btn.btn-default.btn-xl(href='#') Get Cupcakes!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Sweet, colorful, cakes!
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Make Cakes Easy
                  |                         
                  p.text-muted Cake apple pie donut muffin sweet roll lemon drops danish powder candy canes. Dragée powder jelly carrot cake. Cake jujubes croissant cheesecake marzipan sweet fruitcake tiramisu.

              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Predictive Cakes
                  |                         
                  p.text-muted Custom cakes, just for you. 
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Cakes Anywhere
                  |                         
                  p.text-muted Jujubes macaroon cheesecake sweet roll. Muffin donut caramels chupa chups. Oat cake bonbon apple pie.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Safe Cakes
                  |                         
                  p.text-muted Jujubes macaroon cheesecake sweet roll. Muffin donut caramels chupa chups. Oat cake bonbon apple pie.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Meet cake eaters like you!
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Start eating cakes!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Cake Eater
                      |                                 
                      .project-name
                        | Carson Caker
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Cake Eating Champ
                      |                                 
                      .project-name
                        | Cake Maker
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Cake Eating Champ
                      |                                 
                      .project-name
                        | Cassie Caker
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Cake Eating Champ
                      |                                 
                      .project-name
                        | Carrie Caker
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Cake Eating Champ
                      |                                 
                      .project-name
                        | Cassie Caker
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Cake Eating Champ
                      |                                 
                      .project-name
                        | Cecelia Calorie
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Who we are
                |                     
                hr.primary
                |                     
                p
                  | Jujubes macaroon cheesecake sweet roll. Muffin donut caramels chupa chups. Oat cake bonbon apple pie.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 800-cake-now
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:eatcakes@gmail.com') Email for more cakes!
